<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Meus Repositorios</title>
    </head>
    <body>
        <table>
            <thead>

                <tr>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Linguagens</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="repo : ${listaRepositorios}">
                    <td th:text="${repo.id}">Id</td>
                    <td th:text="${repo.url}">Url</td>
                    <td th:text="${repo.nome}">Nome</td>
                    <td th:text="${repo.descricao}">Descrição</td>
                    <td th:text="${repo.linguagens}">Linguagens</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>